html{
	position: relative;
	min-height: 100%;
}
body{
	background-image: url("../images/Defecating_dog_in_Vietnam.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}
.header{
	background-color: #9999ff;
	margin: auto;
	min-width: -webkit-max-content;
}
.header span{
	min-width: -webkit-max-content;
}
.header-inner, .web-body, .footer-inner{
	width: 800px;
	margin: auto;
}
.web-body{
	margin-top: 40px;
	margin-bottom: 140px;
}
.reg-form{	
	width: 450px;
	margin: auto;
	padding: 20px;
	background-color: #e0e0d1;
}
.has-feedback .form-control-feedback {
	position: absolute;
	line-height: 3rem;
	pointer-events: none;
}
.has-feedback .form-control {
	padding-left: 40px;
	margin-top: 10px;
	height: 45px;
	font-size: 16pt;
	font-weight: 300;
}
.form-control-feedback{
	margin-left: 15px;
}
.form-inline{
	display: block;
	margin-bottom: 10px;
}
#rightbox{
	float: right;
	width: 48%;
	height: 45px;
	font-size: 16pt;
	font-weight: 300;
}
#leftbox{
	width: 48%;
	height: 45px;
	font-size: 16pt;
	font-weight: 300;
}
.footer-inner{
	text-align: center;
	padding: 20px 0;
}
.footer{
	border-top: 1px solid #e2e2e2;
	width: 100%;
	z-index: 5;
	bottom: 0;
	position: absolute;
	left: 0;
	min-width: -webkit-max-content;
	background-color: #ffffe6;
	opacity: 0.6;
}
#btn-signup{
	margin-left: 160px;
}
#slogan{
	font-size:18pt; 
	color:#ffff4d;
	padding: 5px 15px;
	position: absolute;
}
#btn-signin{
	margin-left: 150px;
}
.form-bottom{
	padding: 10px 10px 0;
}