html, body{
	width: 100%;
	height: 100%;
	margin: 0;
}
ul{
	list-style-type: none;
	padding-left: 0px;
}
h5{
	margin-bottom: 0px;
}
#slogan{
	font-size:18pt; 
	color:#ffff4d;
	padding: 5px 15px;
	position: absolute;
}
.canvas{
	height: calc(100% - 48px);
	width: 100%;
	position: relative;
	overflow: hidden;
	display: block;
	background-color: #42464D;
}
.sidebar{
	z-index: 5;
	top: 50px;
	width: 250px;
	float: left;
	background-color: #1d1d1d;
	height: 100%;
	position: absolute;
	display: none;
}
.sidebar-feature{
	font-size: 13pt;
	padding: 10px 0;
}
.sidebar-feature > a{
	color: #bdbdbd;
}
.sidebar-feature:hover{
	background-color: #404040;
}
.sidebar-menu{
	margin-top: 20px;
}
.sidebar-menu > ul, li, a:hover {
	text-decoration: none;
}
.sidebar-menu > ul > li{
	padding-left: 20px;
}
.sidebar-menu > ul > li > a > i{
	margin-right: 5px;
	line-height: 30px;
	text-align: center;
	background: #2b2b2b;
	width: 30px;
	border-radius: 5px;
}
.sidebar-header{
	width: 100%;
	display: inline-grid;
	border-bottom: 1px solid grey;
	padding-bottom: 10px;
}
.header{
	background-color: #9999ff;
	margin: auto;
	min-width: -webkit-max-content;
}
.header span{
	min-width: -webkit-max-content;
}
.header-inner{
	width: 800px;
	margin: auto;
}
#avatar{
	width: 80px;
	height: 80px;
	margin: auto;
}
.chat-form{
	width: 100%;
	height: 100%;
}
.user-info{
	color: #bdbdbd;
	display: inline-grid;
	margin: auto;
	font-size: 10pt;
}
.fa-circle{
	color: #1aff1a;
}
.chat-log{
	width: 250px;
	float: left;
	background-color: #1d1d1d;
	height: 100%;
}
.chat-log-header, .chat-frame-header{
	height: 50px;
	border-bottom: 1px solid gray;
	padding: 5px;
}
.chat-log-container{
	height: calc(100% - 50px);
	overflow: auto;
}
.dropbtn{
	padding: 0;
	height: 40px;
	width: 40px;
	border-radius: 7px;
	background-color: #404040;
	border: 0;
}
.dropbtn > i{
	font-size: 25pt;
}
.dropbtn:hover{
	background: #404040;
	background-color: #f0f0f5;
}
.chatList{
	width: 100%;
	color: #bdbdbd;
	display: inline-block;
}
.chat-log-container li:hover{
	background-color: #404040;
}
/*------------------ scrollbar -------------------------*/
::-webkit-scrollbar {
	width: 7px;
}

::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px grey;
	border-radius: 10px;
}

::-webkit-scrollbar-thumb {
	background: #808080; 
	border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
	background: #b30000; 
}
.online-list{
	width: 250px;
	float: right;
	background-color: #1d1d1d;
	height: 100%;
}
.chat-frame{
	height: 100%;
	width: calc(100% - 500px);
	background-color: #F6F6F6;
	display: inline-block;
}
.chat-frame-header{
	text-align: center;
}
.img{
	float: left;
	line-height: 72px;
}
.desc{
	display: inline-block;
}
.left-mess{
	float: left;
	width: 80%;
}
.right-mess{
	float: right;
	width: 80%;
}
.chat-frame ul,li{
	position: relative;
	padding: 15px 0px;
	clear: both;
}
.chat-frame-contain img{
	position: absolute;
	width: 40px;
	bottom: 30px;
}
.left-mess .message{
	margin-left: 70px;
	font-size: 15px;
	background: #E8E8E8;
	padding: 5px 10px;
	border-radius: 5px 5px 5px 0px;
	position: relative;
}
.left-mess .message:before{
	position: absolute;
	content: '';
	border: 10px solid transparent;
	border-bottom-color: #E8E8E8;
	bottom: 0px;
	left: -10px;
}
.chat-frame-contain small{
	float: right;
	color: #c1c1c1;
}
.right-mess img{
	right: 0px;
}
.right-mess .message{
	margin-right: 70px;
	font-size: 15px;
	background: #1e4c96;
	color: #ffffff;
	padding: 5px 10px;
	border-radius: 8px 8px 8px 8px;
	position: relative;
}
.right-mess .message:before{
	position: absolute;
	content: '';
	border: 10px solid transparent;
	border-bottom-color: #1e4c96;
	bottom: 0px;
	right: -10px;
}
.chat-day{
	width: 100%;
	padding: 0px;
	margin: 15px 0px;
}
.chat-day small{
	position: absolute;
	top: -10px;
	color: #c1c1c1;
	padding: 3px 10px;
	left: 50%;
	transform: translateX(-50%)
}
.right-mess small{
	float: left;
	color: #c1c1c1;
	margin-right: 70px;
}
.chat-frame-contain{
	overflow-y: auto;
	height: calc(100% - 100px);
}
.mess-bar{
	height: 50px;
	bottom: 0;
	border-top: 1px solid gray;
}
.upload-btn{
	position: relative;
	overflow: hidden;
	display: inline-block;
}
.upload-btn input[type=file] {
	height: 50px;
	width: 54px;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
}
.mess-bar input[type=text]{
	padding: 5px;
	margin: 6px;
	border-radius: 5px;
	width: calc(100% - 130px);
}
.mess-bar button{
	background-color: transparent;
	border: 0;
	font-size: 20pt;
	vertical-align: middle;
}
.btn-send:hover, .btn:hover {
	cursor: pointer;
}
.btn-list{
	display: flex;
	float: right;
	max-height: 50px;
}
.online-list img{
	width: 40px;
	display: inline-block;
}
.status h5{
	color: #bdbdbd;
	display: inline-block;
}
.status{
	display: inline;
	line-height: 40px;
}
.status .fa-circle{
	float: right;
	line-height: 40px;
}
.online-list ul,li{
	padding: 10px 0px;
}
.online-list li:hover{
	background-color: #404040;
}
.onl-ava{
	float: left;
}
.online-list{
	overflow-y: auto;
}
